<div>
    <div ng-repeat="account in accounts">
        <div>
            Account Name: {{account.accountName}}
            <br />
            Account Balance: {{account.accountBalance}}
        </div>
    </div>
</div>