<div>
Test
<search-customer></search-customer>
<account-summary></account-summary>
<button ng-click="showSimpleCalculator=true">Show Component</button>
<external-component-holder  ng-if="showSimpleCalculator"
	holder-id="'simpleCalculator1'" 
	component-name="'simpleCalculator1'" 
	script-resources="['externalComponents/simpleCalculator/scripts/simpleCalculator.js']"
	html-path="'externalComponents/simpleCalculator/html/simpleCalculator.cshtml'"
	style-path="">
</external-component-holder>
<!-- <external-component-holder 
	holder-id="'googleMap1'" 
	component-name="'googleMap'" 
	script-resources="['externalComponents/googleMap/scripts/initialize.js','https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&callback=googleMap_initialize']"
	html-path="'externalComponents/googleMap/html/map.cshtml'"
	style-path="">
</external-component-holder> -->
<!-- <external-component-holder 
	holder-id="'googleMap2'" 
	component-name="'googleMap'" 
	script-resources="['externalComponents/googleMap/resources/map.js','https://maps.gstatic.com/maps-api-v3/api/js/21/8/main.js']"
	html-path=""
	style-path="">
</external-component-holder> -->
</div>
